{% extends 'shopapp/base.html' %}

{% block title %}
  Product #{{ product.pk }}
{% endblock %}

{% block body %}
  <a href="{% url 'shopapp:products_list' %}">Back to products
  </a> | <a href="{% url 'shopapp:index' %}">Home</a>
  <h1>Product <strong>{{ product.name }}</strong></h1>
    <div>
      <div>Name: {{ product.name }}</div>
      <div>Description: <em>{{ product.description }}</em></div>
      <div>Price: {{ product.price }}</div>
      <div>Discount: {% firstof product.discount 'no discount' %}</div>
      <div>Archived: {{ product.archived }}</div>

      {% with reviews.count as total_reviews %}
      <h2>
         {{ total_reviews }} review{{ total_reviews|pluralize }} of the product:
      </h2>
      {% endwith %}

      {% for review in reviews %}
      <div class="comment">
          <p class="info">
              <em>
                  Review {{ forloop.counter }} by {{ review.author }}
                  {{ review.publication_date }}:
              </em>
          </p>
          <strong>{{ review.content|linebreaks }}</strong>
      </div>
    {% empty %}
        <p>There are no reviews yet.</p>
    {% endfor %}
    </div>

    {% if messages %}
        {% for message in messages %}
           {% if message.extra_tags == "review_added" %}
               <h2>{{ message }}</h2>
            {% endif %}
        {% endfor %}
    {% endif %}

  <br>
    <h2>Add a review</h2>
      <form action="." method="post">
          <p>
              {% csrf_token %}
              {{ review_form.as_p }}
              <input type="submit" value="Add review">
          </p>
      </form>
  <br>

  <div>
    <a href="{% url 'shopapp:product_update' pk=product.pk %}">
      Update product details
    </a>
  </div>
  <br>

  <div>
    <a href="{% url 'shopapp:product_archive' pk=product.pk %}">
      Archive product
    </a>
  </div>
{% endblock body %}
